<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffcs.order.mapper.CommodityMapper">
<insert id="insert" >
    insert into t_commodity(commodityName,commodityMoney,describe,commodityImageUrl,sortId,materials)
    value (#{commodityName},#{commodityMoney},#{describe},#{commodityImageUrl},#{sortId},#{materials})
</insert>
    <update id="editCommodity" >
    update  t_commodity set describe=#{describe},commodityMoney=#{commodityMoney},commodityImageUrl=#{commodityImageUrl},sortId=#{sortId},materials=#{materials}
    where commodityId=#{commodityId}
    </update>
    <select id="select" resultType="com.ffcs.order.entity.Commodity">
        select * from t_commodity
    </select>
</mapper>