<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffcs.order.mapper.OrderMapper">
    <select id="queryOrderByPage">
        select * from t_order  where userId=#{userId}  order by createTime desc limit #{pageNum},#{pageSize}
    </select>
    <delete id="deleteOrderById">
        delete from t_order where orderId=#{orderId}
</delete>
    <insert id="insertCancelOrder">
        insert into t_cancelorderapplication(orderNumber,userId,reason,status,feedback,createTime,updateTime) values(#{orderNumber},#{userId},#{reason},#{status},#{feedback},#{createTime},#{updateTime})
    </insert>





    <select id="queryCommodityNameById" resultType="String">
        select commodityName from t_commodity where  commodityId=#{commodityId}
    </select>
    <select id="queryOrderDetail" resultType="com.ffcs.order.entity.Detailorder">
        select * from t_detailorder where  orderId=#{orderId}
    </select>
    <select id="queryCancelOrderById" resultType="com.ffcs.order.entity.Cancelorderapplication">
        select * from t_cancelorderapplication where  orderId=#{orderId}
    </select>
    <select id="queryOrderList" resultType="com.ffcs.order.entity.Order">
        select * from t_order
    </select>
    <select id="queryCancelList" resultType="com.ffcs.order.entity.Cancelorderapplication">
        select * from t_cancelorderapplication
    </select>
    <update id="updateOrder">
        update t_order set status=#{status} where orderId=#{orderId}
    </update>
    <update id="updateCancelOrder" >
        update t_cancelorderapplication set status=#{status} , feedback=#{feedback} where orderId=#{orderId}
    </update>
</mapper>