<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffcs.order.mapper.QueryStaMapper">
    <select id="selectById"  resultType="com.ffcs.order.entity.OrderStatistics">
        select  * from t_orderStatistics where commodityId=#{commodityId}
    </select>
    <select id="selectSta"  resultType="com.ffcs.order.entity.Statistics">
        select  * from t_statistics
    </select>

</mapper>