<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffcs.order.mapper.StaffManageMapper">
<insert id="insert" >
    insert into t_staff(staffName,permissionId,password)
    value (#{staffName},#{permissionId},#{password})

</insert>
    <update id="update" >
    update  t_user set permissionId=#{permissionId},password=#{password}
    where staffName=#{staffName}
    </update>
    <select id="select" resultType="com.ffcs.order.entity.Staff">
        select * from t_staff
    </select>
    <select id="login"  resultType="com.ffcs.order.entity.Staff">
        select  * from t_staff where staffId=#{staffId} and password=#{password}
    </select>

</mapper>